<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta property="og:image" content="https://iili.io/JxPS6kQ.png">
    <meta property="og:title" content="SumutSehat - Situs Pencarian Rumah Sakit di Sumatera Utara">
    <meta property="og:description" content="Sumut Sehat adalah situs pencarian Rumah Sakit di Sumatera Utara yang menghadirkan informasi ruamh sakit secara lengkap.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}" />
    <link rel="icon" href="{{ url_for('static', filename= 'images/thumbnailsumutsehat.png') }}" type="image/png" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
  </head>
  <body>
    <nav class="navbar bg-light p-3 shadow-sm fixed-top">
      <div class="container-fluid d-flex justify-content-between">
        <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename= 'images/logo.png') }}" alt="logo" width="120px"></a>
        <form class="d-flex w-50" role="search" method="get" action="/search">
          <input
            class="search form-control me-2 shadow-sm"
            type="search"
            name="search"
            placeholder="Search"
            aria-label="Search"
          />
          <input type="submit" hidden>
        </form>
      </div>
    </nav>
    <div class="container py-5">
      <div class="container-fluid mt-5">
        <div class="row justify-content-center">
          <div class="col-lg-7 col-12 items-center">
            <div class="mb-4">
              <img
                src="{{result[0]['image_url']['value']}}"
                class="img-top img-fluid rounded"
                style="object-fit: cover; width: 100%; height: 100%"
                alt="..."
              />
            </div>
            <ul class="nav nav-pills nav-justified" id="myTabs">
              <li class="nav-item">
                <a class="nav-link active" href="#kamar">Kamar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#layanan">Layanan</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#tenaga">Tenaga</a>
              </li>
            </ul>
            <!-- kamar -->
            <table class="table table-striped" id="tableKamar">
              <thead>
                <tr>
                  <th scope="col">No</th>
                  <th scope="col">Kamar</th>
                  <th scope="col">Jumlah</th>
                </tr>
              </thead>
              <tbody>
                {% if kamar %}
                  {% for each_kamar in kamar %}
                  <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{each_kamar["kelas_tempat"]}}</td>
                    <td>{{each_kamar["kapasitas"]}}</td>
                  </tr>
                  {% endfor %}
                {% else %}
                  <tr>
                    <th colspan="3" class="text-center">Data tidak tersedia</th>
                  </tr>
                {% endif %}


              </tbody>
            </table>
            <!-- layanan -->
            <table class="table table-striped" id="tableLayanan">
              <thead>
                <tr>
                  <th scope="col">No</th>
                  <th scope="col">Layanan</th>
                </tr>
              </thead>
              <tbody>
                {% if result[0] and result[0]['listPelayanan'] and result[0]['listPelayanan']['value'] %}
                  {% for layanan in result[0]['listPelayanan']['value'] %}
                  <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{layanan}}</td>
                  </tr>
                  {% endfor %}
                  {% else %}
                  <tr>
                    <th colspan="2" class="text-center">Data tidak tersedia</th>
                  </tr>
                  {% endif %}
              </tbody>
            </table>
            <!-- tenaga -->
            <table class="table table-striped" id="tableTenaga">
              <thead>
                <tr>
                  <th scope="col">No</th>
                  <th scope="col">Tenaga</th>
                  <th scope="col">SDM</th> 
                  <th scope="col">Jumlah</th>
                </tr>
              </thead>
              <tbody>
                {% if tenaga %}
                  {% for each_tenaga in tenaga %}
                  <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{each_tenaga["grup"]}}</td>
                    <td>{{each_tenaga["sdm"]}}</td>
                    <td>{{each_tenaga["jumlah"]}}</td>
                  </tr>
                  {% endfor %}
                {% else %}
                  <tr>
                    <th colspan="4" class="text-center">Data tidak tersedia</th>
                  </tr>
                {% endif %}

              </tbody>
            </table>
            
          </div>
          <div class="col-lg-5 col-12">
            <div class="row mx-3">
              <div class="col-12">
                <h2 class="text-center">{{name}}</h2>
                <div class="card border border-3">
                  <div class="card-body">
                    <div class="row">
                      <div class="col mb-3">
                        <div id="map">

                        </div>
                      </div>
                    </div>
                  <div class="row">
                  <div class="col-5"><h5 class="fs-6">Lokasi</h5></div>
                    <div class="col-7">
                        <h5 class="fs-6 fw-normal">
                            {% if result[0]['alamat'] is defined and result[0]['alamat']['value'] %}
                                {{ result[0]['alamat']['value'] }}
                            {% else %}
                                N/A
                            {% endif %}
                        </h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5"><h5 class="fs-6">Telepon</h5></div>
                    <div class="col-7">
                        <h5 class="fs-6 fw-normal">
                            {% if result[0]['telepon'] is defined and result[0]['telepon']['value'] %}
                                {{ result[0]['telepon']['value'] }}
                            {% else %}
                                N/A
                            {% endif %}
                        </h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5"><h5 class="fs-6">Jenis</h5></div>
                    <div class="col-7">
                        <h5 class="fs-6 fw-normal">
                            {% if result[0]['jenis'] is defined and result[0]['jenis']['value'] %}
                                {{ result[0]['jenis']['value'] }}
                            {% else %}
                                N/A
                            {% endif %}
                        </h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5"><h5 class="fs-6">Kelas</h5></div>
                    <div class="col-7">
                        <h5 class="fs-6 fw-normal">
                            {% if result[0]['kelas'] is defined and result[0]['kelas']['value'] %}
                                {{ result[0]['kelas']['value'] }}
                            {% else %}
                                N/A
                            {% endif %}
                        </h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5"><h5 class="fs-6">BLU</h5></div>
                    <div class="col-7">
                        <h5 class="fs-6 fw-normal">
                            {% if result[0]['blu'] is defined and result[0]['blu']['value'] %}
                                {{ result[0]['blu']['value'] }}
                            {% else %}
                                N/A
                            {% endif %}
                        </h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5"><h5 class="fs-6">Direktur</h5></div>
                    <div class="col-7">
                        <h5 class="fs-6 fw-normal">
                            {% if result[0]['direktur'] is defined and result[0]['direktur']['value'] %}
                                {{ result[0]['direktur']['value'] }}
                            {% else %}
                                N/A
                            {% endif %}
                        </h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5"><h5 class="fs-6">Luas Tanah</h5></div>
                    <div class="col-7">
                        <h5 class="fs-6 fw-normal">
                            {% if result[0]['luas_tanah'] is defined and result[0]['luas_tanah']['value'] %}
                                {{ result[0]['luas_tanah']['value'] }}
                            {% else %}
                                N/A
                            {% endif %}
                        </h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5"><h5 class="fs-6">Luas Bangunan</h5></div>
                    <div class="col-7">
                        <h5 class="fs-6 fw-normal">
                            {% if result[0]['luas_bangunan'] is defined and result[0]['luas_bangunan']['value'] %}
                                {{ result[0]['luas_bangunan']['value'] }}
                            {% else %}
                                N/A
                            {% endif %}
                        </h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5"><h5 class="fs-6">Kota</h5></div>
                    <div class="col-7">
                        <h5 class="fs-6 fw-normal">
                            {% if result[0]['kota'] is defined and result[0]['kota']['value'] %}
                            <a href="/kota/{{result[0]['kota']['value']}}" class="text-decoration-none">
                                {{ result[0]['kota']['value'] }}
                            </a>
                            {% else %}
                                N/A
                            {% endif %}
                        </h5>
                    </div>
                </div>

                  </div>
                </div>
              </div>
              <div class="col-12">
                <h3 class="mt-5">Rumah Sakit Terdekat</h3>
                {% for detail in closest_hospitals_details %}
                <div class="card mb-3 result" onclick="location.href='/detail/{{ detail['dat']['nama']['value'] }}'" style="max-width: 580px">
                  <div class="row g-0">
                    <div class="col-md-4">
                      {% if detail['dat'].get('image_url') %}
                      <img
                        src="{{ detail['dat']['image_url']['value'] }}"
                        class="img-top img-fluid rounded-start"
                        style="object-fit: cover; width: 100%; height: 100%"
                        alt="{{ detail['dat']['image_url']['value'] }}"
                      />
                      {% endif %}
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">{{ detail['dat']['nama']['value'] }}</h5>
                        <p class="card-text">
                          {{ detail['distance'] }} km
                        </p>
                        <p class="card-text">
                          {{ detail['dat']['alamat']['value'] }}
                        </p>
                        <p class="card-text">
                          <small class="text-muted">{{ detail['dat']['telepon']['value'] }}</small>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    let latitude = {{latitude | safe}};
    let longitude = {{longitude | safe}};
    var map = L.map('map').setView([latitude, longitude], 13);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
    }).addTo(map);
    var marker = L.marker([latitude, longitude]).addTo(map);
    console.log(latitude);
    console.log(longitude);
    document.addEventListener("DOMContentLoaded", function () {
    // Get all navigation items
    var navItems = document.querySelectorAll("#myTabs .nav-link");

    // Get all tables
    var tableKamar = document.getElementById("tableKamar");
    var tableLayanan = document.getElementById("tableLayanan");
    var tableTenaga = document.getElementById("tableTenaga");
    tableLayanan.style.display = "none";
    tableTenaga.style.display = "none";
    // Add click event listener to each item
    navItems.forEach(function (item) {
      item.addEventListener("click", function (event) {
        // Prevent default link behavior
        event.preventDefault();

        // Hide all tables
        tableKamar.style.display = "none";
        tableLayanan.style.display = "none";
        tableTenaga.style.display = "none";

        // Determine which table to show based on the clicked item
        if (item.hash === "#kamar") {
          tableKamar.style.display = "table";
        } else if (item.hash === "#layanan") {
          tableLayanan.style.display = "table";
        } else if (item.hash === "#tenaga") {
          tableTenaga.style.display = "table";
        }

        // Remove "active" class from all items
        navItems.forEach(function (navItem) {
          navItem.classList.remove("active");
        });

        // Add "active" class to the clicked item
        item.classList.add("active");
      });
    });
  });
  </script>
</html>
