<html>
  <head>
    <title>Sumut Sehat</title>
    <meta property="og:image" content="https://iili.io/JxPS6kQ.png">
    <meta property="og:title" content="SumutSehat - Situs Pencarian Rumah Sakit di Sumatera Utara">
    <meta property="og:description" content="Sumut Sehat adalah situs pencarian Rumah Sakit di Sumatera Utara yang menghadirkan informasi rumah sakit secara lengkap.">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,800" rel="stylesheet" />
    <link href="{{ url_for('static', filename= 'css/main.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'leaflet/leaflet.css') }}" />
    <script src="{{ url_for('static', filename= 'leaflet/leaflet.js') }}"></script>
    <link rel="icon" href="{{ url_for('static', filename= 'images/thumbnailsumutsehat.png') }}" type="image/png" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <style>
      .autocomplete:hover{
        font-weight: bold;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div class="s004">
        <form autocomplete="off" method="get" action="/search">
          <fieldset>
          <legend class="legend"><img src="{{ url_for('static', filename= 'images/logo.png ') }}" alt="logo" width="350px"></legend>
          <form class="d-flex w-50" role="search">
            <input class="search form-control me-2 p-3 shadow-sm" name="search" id="search" type="search" placeholder="Masukkan Rumah Sakit, Alamat atau Pelayanan" aria-label="Search">
            <input type="submit" hidden />
            <div style="position:absolute; background-color: white; width:56%; border-radius: 20px;" id="search-suggestions">
            <div class="suggestion" ></div>
            </div>      
        </form>
        </fieldset>
      </form>
    </div>
    <a href="#location-content">
      <div class="chevron-button">
        <div class="nearest">
          Nearest Hospital
        </div>
        <div class="chevron-icon"></div>
      </div>
    </a>
    <div class="text-center mt-4 mb-3 fs-3">
      Rumah Sakit Terdekat Dengan Lokasi Anda
    </div>
    <div class="container-fluid">
      <div class="row my-5" id="location-content">
      </div>
    </div>

    <!-- LOADING -->
    <div class="text-center mt-4">
      <div class="lds-ring" id="loading-icon"><div></div><div></div><div></div><div></div></div>
    </div>

    <script src="{{ url_for('static', filename= 'js/extention/choices.js') }}"></script>
    <script>
      const hospitalTemplate = hospitalData => {
        return `
        <div class="col-6 mb-3 hospitals" style="display: block;">
          <div class="card mb-3 result" style="max-width: 580px; margin-left: 10% !important;"  onclick="location.href='/detail/${hospitalData.data.nama.value}'">
            <div class="row g-0">
              <div class="col-4">
                <img
                  src="${hospitalData.data.image_url.value}"
                  class="img-top img-fluid rounded-start"
                  style="object-fit: fill; width: 240px; height: 223px;"
                  alt="..."
                />
              </div>
              <div class="col-8 ">
                <div class="card-body">
                  <div class="row">
                    <div class="col-12">
                      <h5 class="card-title fs-4">${hospitalData.data.nama.value}</h5>
                      <p class="card-text fs-7">
                        ${hospitalData.data.alamat.value}
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 mt-4">
                      <p class="card-text">
                        <small class="text-muted">Jarak: 
                            ${hospitalData.distance} km
                        </small>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        `;
      };

      function updateLocationContent(locationData) {
          document.getElementById('loading-icon').style.display = 'none';
          locationData.forEach(element => {
            const html = hospitalTemplate(element); 
            document.getElementById('location-content').innerHTML += html;
          });
      }

      // Function to get the user's current location
      function getCurrentLocation() {
          const options = {
              enableHighAccuracy: true,
              timeout: 5000,
              maximumAge: 2000
          };
          navigator.geolocation.getCurrentPosition(success, error, options);
      }

      // Success callback when the user's location is obtained
      function success(position) {
          const { latitude, longitude, accuracy } = position.coords;
          const dict_values = {
              "latitude": latitude,
              "longitude": longitude
          };
          const s = dict_values;
          $.ajax({
            url: "/getLocation",
            type: "POST",
            dataType: 'json',
            contentType: "application/json; charset=UTF-8",
            data:  JSON.stringify(s),
            success: function (hospitals) {
              updateLocationContent(hospitals);
            },
            error: function () {
              var errorMessage = 'Error getting location.';
              updateLocationContent(errorMessage);
            }
          });
      }
      function error(err) {
          const errorMessage = err.code === 1 ? "Please allow geolocation access" : "Cannot get current location";
          alert(errorMessage);
      }
      getCurrentLocation();

    </script>
    <script>
      // Assuming all_hospitals is an array of hospital names fetched from the server
      let all_hospitals = {{ all_hospitals | safe }};
      const searchInput = document.getElementById('search');
      const suggestionsContainer = document.getElementById('search-suggestions');

      searchInput.addEventListener('input', function(event) {
          const userInput = event.target.value.toLowerCase();
          if (userInput === '') {
            suggestionsContainer.innerHTML = '';
            return;
          }
          const suggestions = all_hospitals.filter(hospital => hospital['nama']['value'].toLowerCase().includes(userInput)).slice(0, 5);
          displaySuggestions(suggestions);
      });

      function displaySuggestions(suggestions) {
          const suggestionsHTML = suggestions.map(suggestion =>
              `<div class="suggestion">
                  <span class="ps-3 autocomplete">
                      ${suggestion['nama']['value']}
                  </span>
              </div>`).join('');

          suggestionsContainer.innerHTML = suggestionsHTML;
          console.log(suggestionsHTML);
      }


      suggestionsContainer.addEventListener('click', function(event) {
          const clickedSuggestion = event.target.closest('.suggestion');
          if (clickedSuggestion) {
              const textElement = clickedSuggestion.querySelector('.autocomplete');
              if (textElement) {
                  searchInput.value = textElement.textContent.trim(); // Trim removes leading/trailing white spaces
                  suggestionsContainer.innerHTML = ''; // Clear suggestions after selection
                  searchInput.focus();
              }
          }
      });

    </script>
  </body>
</html>
